/*
 * CSS RESET STYLES
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * CSS FONT STACK
 * http://www.cssfontstack.com/helvetica
 * Windows: 7.34%, Mac: 100%;
 */
h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin-top: 1em;
}
blockquote {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}


/*
 * GLOBAL STYLES
 */
body{
	background-color: #999;
	font-family: "Helvetica";
	font-size: 16px;
	line-height: 1.4em;
	max-width: 100vw;
	overflow-x: hidden;
}
img{
	max-width: 100%;
}
.thumbHeight{
	max-height: 13em;
}
.thumbNail{
	max-width: 100%;
	
}
strong{
	font-weight: bold;
}
em{
	font-style: italic;
}
:focus{
	outline: none;
}
.width-50{
	width: 50px;
}
.orange{
	background-color: #D2A000;
}
.min-height-75{
	min-height: 75vh;
}
.min-height-200{
	min-height: 200px;
}
.min-height-250{
	min-height: 250px;
}
.min-height-275{
	min-height: 275px;
}
.min-height-300{
	min-height: 300px;
}
.min-height-350{
	min-height: 350px;
}
.bottom-align-text {
    position: absolute;
    bottom: 0;
}
.nospace{
	margin: 0px;
	padding: 0px;
}
.alert{
	margin: 0px !important;
    border-radius: 0px;
    position: fixed;
    width: 100%;
    top: 75px;
    z-index: 9999;
}
.square-corners{
	border-radius: 0px;
}
.fright{
	float: right;
}
.center{
	text-align: center;
}
/*
 * PAGE HEADER STYLES
 */

/*
 * Clock Area Styles
 */
.clock-block{
	min-height: 75px;
	background-color: #fff;
	padding: 1em;
}
.clock-block > div[class^='col-'] > h3,h5,iframe{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

/* NAVIGATION OVERRIDES*/
.container-fluid{
	height: 75px;
}
.navbar .navbar-nav {
 	float: left;
 	/*height: 75px;*/
}
.navbar .navbar-nav li a{
	color: #000;
	font-size: .8em;
	height: 75px;
	line-height: 75px;
 	vertical-align: bottom;
}
.navbar .navbar-nav li a:hover{
	color: #333;
}
.navbar .navbar-nav li a:active{
	color: #333;
}
.navbar .navbar-collapse {
	text-align: center;
}
.navbar{
	border: none;
	margin-bottom: inherit;
	z-index: 9999;
}
.navbar-header{
	padding: 15px 15px;
}
.navbar-brand{
	padding:  0px 0px;
}
.navbar-brand img{
	padding-right: 10px;
	max-height: 50px;
}
.navbar-logo img{
	max-height: 65px;
}
.navigation{
	min-height: 75px;
	width: 100%;
	position: fixed;
	background-color: #D2A000;
	border-radius: 0px;
}
.search-nav{
    padding-top: 0;
    padding-right: 15px;
    /*float: right;*/
    text-align: right;
}
.navbar .navbar-nav .user-nav li a{
	color: #333;
	line-height: 1.2em;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
	line-height: 3.25em;
}
input[type="text"]{
    border-radius: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 2em;
    height: 59px; // Increase height as required
    padding: 0 20px; // Now only left & right padding
}
input[type="submit"]{
    border-radius: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto; // Increase height as required
    padding: 10px 10px;
    margin: 12px 15px;	
    width: 96%;
}
textarea.form-control{
    border-radius: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 150px; // Increase height as required
    padding: 0 20px; // Now only left & right padding
    margin-bottom: 1em;
}
.col-sm-12.edit2{
	padding-right: 0;
	padding-bottom: 1em;
}
.col-sm-12.edit2 > ol,ul{
	margin-left: 2em;
}
.search-toggle:active{
	color: #000;
}

.links {
    padding: 1.5em;
}

/*MEGA MENU PROPERTIES*/
.mega-menu{
    width: 100vh;
    min-height: 50vh;
}
.nav > li:hover{
	cursor: pointer;
}
.nav > li > div {
    z-index: 9999;
    display: block;

    padding: 1em;
    margin: 0px;
 
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
 
    background: #ffffff;
    border-radius: 0 0 3px 3px;
 
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}
.nav > li > div.mega-menu{
    position: fixed;
	left: 0;

	min-width: 100%;
}
.nav > li > div.user-nav {

	position: fixed;
	right: 0;
	min-width: 225px;
}
li.left {
    text-align: left;
}
.nav > li > div.user-nav > ol,ul {
	list-style: none;
}
.nav > li:focus > a{
    background: #fff;
    color: #000;
}
.nav > li:focus > div {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}
.mega-menu > .col-md-4 > h3{
	padding-bottom: .3em;
	padding-top: 1.5em;
	font-size: 1.2em;
	text-align: left;
	border-bottom: 3px solid #D2A000;
}
.mega-menu > .col-md-4 > ul > li{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
.mega-menu > .col-md-4 > ul > li > a{
	color: #000;
	font-size: 1em;
	height: auto;
	line-height: 1em;
	vertical-align: middle;
}

/*
 * PAGE BODY STYLES
 */
div.body{
	padding-top: 75px;
}
.search{
	border-bottom: 1em solid #D2A000;
}
.full-width-search{
	padding: 1em;
	min-height: 60px;
	background-color: #555;       
}
.content-blocks{
	margin-top: 1em;
}
.content-blocks ul{
	list-style-type: square;
	padding-bottom: 1em;
}
.panel-body p{
	/*margin-top: 0px;*/
}
/* div[class^='col-'] class^ states that 'any class that starts with' will be effected. */
.content-blocks > div[class^='col-'] > .panel{
	position: relative;
}
.content-blocks > div[class^='col-'] > .panel > .panel-footer{
	position: absolute;
    bottom: 0;
    width: 100%;
}
.content-block{
	height: 300px;
	max-width: 100%;
	overflow: hidden;
}





.content-block-header{
	padding: 1em 0 0 1em;
	font-size: 1.3em;
	margin-left: .5em;
	width: 94%;
}
.content-block-header small{
	font-size: .7em;
}
.content-block-header.edit1{
	padding: 1em 0 0 1em;
	font-size: 1.3em;
	margin-left: .5em;
	width: 95%;
}
.content-block-image{

	margin-bottom: 1.3em;
	text-align: center;
}
.content-block-body{
	position: absolute;
	width: 93%;
	padding: 15px 15px;
	margin-bottom: 30px;
	margin-left: -1px;
}
.content-block-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #337ab7;
	padding: 1px 1px;
}
.department-name{
	color: #ddd;
	float: left;
}
.department-job{
	text-align: right;
	float: right;
	position: absolute;
	top: 0;
	right: 270px;
}
.department-article{
	text-align: right;
	float: right;
	position: absolute;
	top: 0;
	right: 154px;
}
.department-edit{
	text-align: right;
	float: right;
	position: absolute;
	top: 0;
	right: 95px;
}
.department-contact{
	text-align: right;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}
.department-contact a, .department-edit a, .department-article a, .department-job a{
	color: #000;
}
.department-contact a:hover, .department-edit a:hover, .department-article a:hover, .department-job a:hover{
	color: #333;
}

a.cancel{
	border-radius: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    margin: 12px 15px;
    width: 96%;
}




/*
 * PAGE SLIDER STYLES
 */
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	margin: 0 auto;
}
.carousel{
	background: #000;
}




/*
 * PAGE FOOTER STYLES
 */
.footer{
	bottom: 0;
	width: 100%;
	height: 20px;
}
.footer p{
	float: right;
	line-height: 20px;
	padding-bottom: 1em;
	padding-top: 1em;
}


/*
 * MINIMIZE NAVIGATION BAR ON MEDIUM AND SMALLER SCREENS
 */
@media (max-width: 1412px) {
/*	img{
		max-width: 80%;
		overflow: hidden;
	}
	.container-fluid>.navbar-collapse{
		margin-right: 0px;
	}
	.navbar-right {
		float: none!important; 
		margin-right: 0px; 
	}
    .navbar-header {
        float: none;
        max-width: 100%;
        max-height: 75px;
        padding-left: 1em;
    }
    .navbar-brand img{
    	float: none;
        padding-left: 1em;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
	.nav > li > div.user-nav {
		position: fixed;
		width: 100%;
	}
	.nav > li > div.user-nav > ul {
		margin-left: 0px;
	}*/
    /* since 3.1.0 */
    .navbar-nav>li>a {
        padding-right: 20px;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar .navbar-nav li a {
    	font-size: .6em;
    }
    .navbar-header{
    	max-width: 300px;
    	margin-top: .6em;
    }
    .navbar-brand{
    	max-width: 30px;
    }
}

/*
 * DF AKA Duncan PAGE BODY STYLES because Darth Jonathan's are to wack 
 */

 .DFcontainer{
	padding: 4em;
	min-height: 83vh;
	background-color: #555;
}

.DFcontainer img{
	width:100%;
	border: 3px solid #292929;
}

.DFcontainer h1{
    font-size: 2em;
	color: #D2A000;

}

.DFcontainer h2{
    font-size: 1em;
	color: #ffffff;

}

.DFcontainer h3{
    font-size: 1em;
	color: #D2A000;

}

.DFcontainer a {
    color: #ffffff;
    }

.DFcontainer p{
    font-size: 1.3em;
	color: #ffffff;

}


.DFyellowButton {
	color: #333;
    background-color: #D2A000;
    border-color: #292929;
    border-radius: 0px;
}
/*
 * Duncan's search results 
 */

 .DFsearch{
	padding: 1em;
	border: 1em solid #999;	
	background-color: #FFFFFF;
	margin: 0em;
	


}



.lilSpace{
	margin: 0em;
	padding: .5em;
	min-height: 20em;



}

.DFsearch img{
	width:100%;
	border: 3px solid #292929;
}

.DFsearch h1{
    font-size: 2em;
	color: #D2A000;

}

.DFsearch h2{
    font-size: .8em;
	color: #4169E1;


}

.DFsearch h3{
    font-size: .9em;
	color: #292929;


}

.DFsearch a {
    color: #4169E1;
    }

.DFsearch p{
    font-size: 1.3em;
	color: #ffffff;

}



* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #292929;
  max-width: 100%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 50em;
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }











/*
 * Control mega menu on smaller screens (hidden nav)
 */
@media (max-width: 768px) {
	.nav > li > div {
	    max-width: 600px;
	    margin: 0;
	    padding-bottom: 1em;
	}
}

